<div class="c-block">
  <h2>Welcome!</h2>
  <div *ngIf=!start>
    <p><a> To play, enter your name below and start </a></p>
    Enter a name:
    <input type="text" [(ngModel)]="playerName">

    <button (click)="createPlayer()">start</button>
  </div>

  <p>Current bitcoin price {{ bitcoinPrice }}</p>

  <div *ngIf=start>
    <p>Welcome: {{ portfolio.Player }}. You can buy and sell</p>
    <p>Wallet: {{ portfolio.WalletBalance }}</p>
    <p> Quantity: {{ portfolio.CoinQuantity }} </p>

    <input type="number" name="quantity" value="1" #quantity>
    <p></p>
    <button (click)="buyCoin(quantity.value, playerName)"> buy </button>
    <span>---</span>
    <button (click)="sellCoin(quantity.value, playerName)"> sell </button>
    <p>Total coin worth: {{ coinWorth }}</p>
    <button (click)="reset()">Leave</button>

    <ul *ngFor="let member of members">
      <li>{{member.name}}</li>
    </ul>

    <table>
      <th>User</th>
      <th>Wallet</th>
      <th>Quantity</th>
      <th>Total worth</th>
      <tr *ngFor="let data of subscriptions" >
        <td>
          {{data.Player}}
        </td>
        <td>
          {{data.WalletBalance}}
        </td>
        <td>
          {{data.CoinQuantity}}
        </td>
        <td>
          {{data.CoinQuantity * bitcoinPrice}}
        </td>
      </tr>
    </table>
  </div>


</div>
