/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin:auto;
  padding:10px;
  background-color:#ebebeb;
  font-size:14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.board {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}
.board td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.board tr:nth-child(even) {
  background-color: #f2f2f2;
}

.board th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a58ab4;
  color: white;
}
